@import "global.scss";

.app-header {
	display:flex;
	height:120px;
	padding: 20px;
	align-items: center;
}

.logo {
	height:80px;
	margin: 0 40px 0 10px;
}

.app-name a {
	color: $headline-color;
	font-size: 36px;
	font-family: Montserrat-Light;
	text-decoration: none;
	margin-top: 5px;
}

.app-nav {
	margin-left: 80px;
}

.app-language-nav {
	margin-left: auto;
}

.app-nav a, .app-language-nav a {
	color: $headline-color;
	font-family: Montserrat-Regular;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
	vertical-align: middle;
	margin-left: 50px;
	line-height: 40px;
	display:inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 5px solid transparent;
}

.app-nav a:hover {
	border-bottom: 5px solid $primary-blue;
}

.app-language-nav a {
	text-transform: none;
	margin: 0;
}


	

/*
#content {
	border-radius: 5px;
	margin-top: -80px;
	z-index: 1000;
	background: rgba(255, 255, 255, 1.0);
	opacity: 0.999;
	margin-left: 70px;
	margin-right: 70px;
	padding: 20px;
}
*/