@import "variables.scss";

.card-list-item {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: left;
	border-radius: $border-radius;
	color: $text-color;
	word-wrap: break-all;
	font-family: "Open sans", sans-serif;
	font-size: 14px;

	&,
	&:hover {
		text-decoration: none;
	}
}

.card-list-item-borders {
	border: 1px solid $border-color;
	border-radius: $border-radius;
	height: 100%;
}

@media (min-width: 1130px) {
	.card-list-item-borders {
		display: block;
		padding: 20px 0px;
		border: 0;
		border-radius: 0;
		border-top: 1px solid $border-color;
		&.card-list-item-borders-last {
			border-bottom: 1px solid $border-color;
		}
	}
}

@mixin card-wide {
	flex-direction: row;

	max-width: none;

	.card-list-item__image-container {
		max-width: 300px;
		margin-bottom: 0;
	}

	.card-list-item__content {
		padding: 0;
	}

	.card-list-item__link {
		display: none;
	}
}

@media (min-width: 1130px) {
	.card-list-item:not(.card-narrow) {
		@include card-wide;
	}

	.card-desktop {
		display: block;
	}

	.card-mobile {
		display: none;
	}
}



.card-list-item__image-container {
	width: 100%;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	margin-right: 20px;
	height: 200px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: $border-color url("/icons/icon-house.svg") 50% 50% no-repeat;

	&.has-pic {
		background-size: cover;
		background-position: center;
	}

	@media (min-width: 1130px) {
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
}

// .card-list-item__image {
// 	display: block;
// 	width: 100%;
// }

.card-list-item__content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 20px;
	flex-grow: 1;
}

.card-nursinghome-vacancy-status-badge {
	line-height: 26px;
	margin: 2px 0 1px 0;
}

.card-list-item__subheader {
	text-transform: uppercase;
	line-height: 26px;
	font-size: 14px;
}

.card-list-item__header {
	font-size: 19px;
	font-weight: 600;
	font-family: "Open sans", sans-serif;
	color: $text-color;
	line-height: 26px;
	margin: 3px 0 3px 0;
}

.card-list-item__text {
	line-height: 26px;
	font-size: 14px;
}

.card-list-item__text--lah {
	margin-top: 4px;
}

.card-list-item__tag {
	height: 25px;
	background-color: $primary-blue;
	border-radius: $border-radius;
	display: inline-block;
	line-height: 25px;
	padding: 0 5px;
	margin-top: 5px;
	color: #fff;
}

.card-list-item__spacer {
	flex-grow: 1;
	@media (min-width: 1130px) {
		display: none;
	}
}

.card-list-item__link {
	padding: 20px;
	padding-top: 0;
}

.card-list-item__link-button {
	margin-top: 0.5em;
	cursor: pointer;
	font-weight: normal;
	border: none;
	background: none;
	font-family: "Open sans", sans-serif;
	font-size: 14px;
	padding: 0;
	color: $primary-blue;
}
