@import "variables.scss";

.card-list-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: left;
	border-radius: $border-radius;
	color: $text-color;
	word-wrap: break-all;
}

.card-list-item-borders {
	display: block;
	padding: 20px 0px;
	border-top: 1px solid $border-color;
	&:last-child {
		border-bottom: 1px solid $border-color;
	}
}

@mixin card-wide {
	flex-direction: row;

	max-width: none;

	.card-list-item__image-container {
		max-width: 300px;
		margin-bottom: 0;
	}

	.card-list-item__content {
		padding: 0;
	}

	.card-list-item__link {
		display: none;
	}
}

@media (min-width: 800px) {
	.card-list-item:not(.card-narrow) {
		@include card-wide;
	}

	.card-desktop {
		display: block;
	}

	.card-mobile {
		display: none;
	}
}

.card-list-item__image-container {
	width: 100%;
	border-radius: $border-radius;
	margin-right: 20px;
	min-height: 200px;
	background: $border-color url("/icon-house.svg") 50% 50% no-repeat;
}

.card-list-item__image {
	display: block;
	width: 100%;
}

.card-list-item__content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 20px;
}

.card-list-item__subheader {
	text-transform: uppercase;
	line-height: 26px;
	font-size: 14px;
}

.card-list-item__header {
	font-size: 19px;
	font-weight: 600;
	font-family: "Open sans", sans-serif;
	color: $text-color;
	line-height: 26px;
	margin: 3px 0 3px 0;
}

.card-list-item__text {
	line-height: 26px;
	font-size: 14px;
}

.card-list-item__text--lah {
	margin-top: 4px;
}

.card-list-item__tag {
	height: 25px;
	background-color: $primary-blue;
	border-radius: $border-radius;
	display: inline-block;
	line-height: 25px;
	padding: 0 5px;
	margin-top: 5px;
	color: #fff;
}
