@import "variables.scss";

.save-and-empty-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;

	@media screen and (min-width: 1024px) {
		position: static;
		margin-top: 20px;
		margin-right: 5px;
		padding: 0;
	}
}

.menu-empty-button {
	font-weight: normal;
	border: none;
	background: none;
	font-family: "Open sans", sans-serif;
	font-size: 16px;
	padding: 0;

	&:not(:disabled) {
		cursor: pointer;
	}
}

.menu-empty-button:not(:disabled):hover {
	color: $primary-blue;
}

.header-item {
	font-weight: 600;
	margin-bottom: 25px;
}

.text-item {
	margin: 25px 0;
	padding-right: 5px;
}

.option-text-has-subtext {
	font-weight: 600;
	font-family: "Open sans", sans-serif;
	line-height: 22px;
}

.option-subtext {
	line-height: 22px;
}

.with-margin {
	margin-left: 10px,
}

.with-bold {
	font-weight: bold,
}

.option-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px;
}

.align-left {
	margin-right: 0px;
}

.align-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 55px;
}

.align-right > * {
	margin-top: 0;
}