@import "variables.scss";

.save-and-empty-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top: 20px;
	margin-right: 5px;
}

.menu-empty-button {
	font-weight: normal;
	border: none;
	background: none;
	font-family: "Open sans", sans-serif;
	font-size: 16px;
	padding: 0;

	&:not(:disabled) {
		cursor: pointer;
	}
}

.menu-empty-button:not(:disabled):hover {
	color: $primary-blue;
}

.header-item {
	font-weight: 600;
	margin-bottom: 25px;
}

.text-item {
	margin: 25px 0;
	padding-right: 5px;
}

.option-text-has-subtext {
	font-weight: 600;
	font-family: "Open sans", sans-serif;
	line-height: 22px;
}

.option-subtext {
	line-height: 22px;
}
