@import "variables.scss";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Site global styles */

body {
	font-family: "Open sans", sans-serif;
	font-size: 16px;
	color: $text-color;
}

p {
	font-family: "Open sans", sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 1.5em;
	color: $text-color;
}

h1 {
	color: $headline-color;
	font-size: 36px;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	line-height: 44px;
}

h2 {
	color: $headline-color;
	font-size: 36px;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	line-height: 44px;
	margin-bottom: 20px;
}

h3 {
	color: $headline-color;
	font-size: 22px;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	line-height: 27px;
	margin-bottom: 20px;
}

a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a[target=_blank] {
	padding-right: 23px;
	background: transparent url('/icons/icon-external-link.svg') calc(100% - 2px) 50% no-repeat;
}
a.mapLink {
	padding-right: 0;
	background: none;
}

strong {
	font-weight: 600;
}

.btn {
	border-width: 1px;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(0.375em - 1px);
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(0.375em - 1px);
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	min-width: 7em;
	height: 3em;
	border-radius: $border-radius;
	background-color: $link-color;
	border-color: transparent;
	color: #fff;
}

.btn:hover {
	background-color: $primary-blue;
}

.btn:active {
	background-color: #044090;
}

.no-wrap {
	white-space: nowrap;
}

.ingress {
	font-size: 19px;
	line-height: 29px;
}

.content-block {
	margin-bottom: 50px;
}
