@import "variables.scss";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Site global styles */

html {
	scroll-behavior: smooth;
}

body {
	font-family: filson-pro, Verdana, "Open sans", sans-serif;
	font-size: 16px;
	color: $text-color;
}

p {
	font-family: filson-pro, Verdana, "Open sans", sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 1.5em;
	color: $text-color;
}

h1 {
	color: $text-color;
	font-size: 36px;
	font-family: filson-pro, Verdana, "Open sans", sans-serif;
	font-weight: 800;
	line-height: 44px;
}

h2 {
	color: $text-color;
	font-size: 36px;
	font-family: filson-pro, Verdana, "Open sans", sans-serif;
	font-weight: 800;
	line-height: 44px;
	margin-bottom: 20px;
	@media screen and (max-width: 640px) {
		word-break: break-word;
		font-size: 32px;
		line-height: 40px;
	}
}

h3 {
	color: $text-color;
	font-size: 22px;
	font-family: filson-pro, Verdana, "Open sans", sans-serif;
	font-weight: 800;
	line-height: 27px;
	margin-bottom: 20px;
	@media screen and (max-width: 640px) {
		word-break: break-word;
	}
}

h4 {
	color: $text-color;
	font-size: 19px;
	font-family: filson-pro, Verdana, "Open sans", sans-serif;
	font-weight: 800;
	line-height: 27px;
	margin-bottom: 15px;
	@media screen and (max-width: 640px) {
		word-break: break-word;
	}
}

a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a[target="_blank"] {
	padding-right: 23px;
	background: transparent url("/icons/icon-external-link.svg")
		calc(100% - 2px) 50% no-repeat;
}
a.mapLink {
	padding-right: 0;
	background: none;
}

strong {
	font-weight: 700;
}

.nowrap {
	white-space: nowrap;
}

.btn {
	border-width: 1px;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(0.375em - 1px);
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(0.375em - 1px);
	text-align: center;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 700;
	min-width: 7em;
	height: 3em;
	border-radius: $border-radius;
	background-color: $black;
	border-color: transparent;
	color: $white;

	&:disabled {
		background-color: $ligher-gray;
		color: $dark-gray;
		cursor: default;

		&:hover {
			background-color: $ligher-gray;
		}
	}
}

.btn-secondary {
	border-radius: $border-radius;
	background-color: transparent;
	border-color: $black;
	color: $text-color;
}

.btn-secondary-link {
	display: block;
	width: 90%;
	margin: auto;
	padding: 12px !important;
	background: none !important;
	color: $text-color;
	border: solid 1px $black;

	&:hover {
		text-decoration: underline;
	}
}

.btn:hover {
	background-color: $gray;
}

.btn-secondary:hover {
	background-color: $black;
	border-color: transparent;
}

.btn:active {
	background-color: $gray;
	border-color: transparent;
}

.no-wrap {
	white-space: nowrap;
}

.ingress {
	font-size: 19px;
	line-height: 29px;
}

.content-block {
	margin-bottom: 50px;
}

.hidden {
	display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	color: rgba(0, 0, 0, 0);
	opacity: 0.6;
	background: url("/icons/icon-calendar-alt.svg") no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
	margin-bottom: 5px;
	border-width: thin;
}

.label {
	display: block;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 0.6rem;

	.asterisk {
		font-size: 0.8em;
	}
}

legend {
	@extend .label;
}

.input {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	padding-bottom: 0.4rem;
	border-radius: 0;
	min-height: 2.5em;
	line-height: 1.5;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.4rem;
	font-size: 1rem;
	font-family: inherit;

	&.error {
		border-color: $error-color;
	}

	&:focus {
		border-color: $link-color !important;
		border-bottom-width: 2px !important;
		outline: none;
	}
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"] {
	&.input {
		border: none;
		border-bottom: solid 1px $border-color;
		height: 2.5em;
	}
}

textarea {
	border: solid 1px $border-color;
	resize: none;
}

.hide-visually {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
