@import "variables.scss";

$column-width: 1024px;

.jumbotron {
	width: 100vw;
	max-height: calc(100vh - 80px - 200px);
	min-height: 350px;
	height: 100vh;
	background: $primary-blue;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.jumbotron__header {
	color: #fff;
	font-weight: bold;
	font-size: 48px;
	max-width: 680px;
	width: 680px;
	margin: 0 auto 50px auto;
	display: block;
	line-height: 52px;
}

.location-picker {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: $column-width;
	width: $column-width;
	background-color: #fff;
	border-radius: $border-radius;
	box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
	padding: 20px 30px;
	margin: 0 auto 80px auto;
}

.location-picker-label {
	font-weight: 600;
}

.location-picker-select {
	flex-grow: 1;
	height: 100%;
	margin: 0 40px 0 10px;
}

.location-picker-select .button-dropdown-container {
	height: 100%;

	.button-dropdown {
		height: 45px;
		padding: 4px 5px 0 10px;
		width: 100%;
		font-weight: normal;
		text-transform: none;
		font-family: 'Open-sans', sans-serif;
		font-size: 16px;
		color: $text-color;
	}
}

.location-picker-select select {
	height: 100%;
	width: 100%;
	background: none;
	border: none;
	border-radius: 0;
	font-size: 16px;
	color: $text-color;
}

.landing-cta {
	width: 200px;
	height: 45px;
}

.content-column {
	max-width: $column-width;
	margin: 0 auto;
	padding: 20px;
	margin-top: 60px;
}

.content-block {
	max-width: 680px;
	margin: 0 auto 70px auto;
}
.content-block--wide {
	max-width: 1024px;
	margin: 0 auto 70px auto;
	text-align: center;
}

p.content-block-paragraph {
	text-align: center;
}
.process-diagram {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.process-diagram__item {
	margin: 0 10px;
	text-align: center;
	max-width: 250px;
}

.process-diagram__item__img {
	display: inline-block;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.faqHeadline {
	margin-top: 50px;
}

.faq-list dt {
	font-weight: 600;
	margin-top: 20px;
	line-height: 26px;
}

.faq-list dd {
	line-height: 26px;
}

@media screen and (max-width: 1024px) {
	.jumbotron {
		max-height: 520px;
		background-position-y: 0;
	}

	.location-picker {
		flex-direction: column;
		margin-bottom: 0;
		width: 100vw;
		border-radius: 0;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);

		.location-picker-select {
			height: auto;
			align-self: stretch;
			margin: 0;
		}

		.button-dropdown {
			text-align: center;
		}

		.landing-cta {
			flex-basis: 45px;
		}

		& > *:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	.jumbotron__header {
		max-width: 100%;
		padding: 20px;
	}
}

@media screen and (max-width: 850px) {
	.process-diagram__item {
		width: 100vw;
		max-width: 100vw;
		margin: 0;
	}
}
