@import "variables.scss";

.css-yrspe, .css-1rbq2qy {
	z-index: 2 !important;
}

.css-yrspe {
	background-color: #fff !important;
}

.css-m6j0xf {
	color: $headline-color !important;
}

.css-m6j0xf:hover {
	color: $text-color !important;
}

.css-dnjkxf, .css-h67k8 {
	background: transparent !important;
	opacity: 1 !important;
}

.css-17pypsz {
	color: $text-color !important;
	opacity: 1 !important;
	background: transparent !important;

}

.css-xfk84m, .css-1h82jk3 {
	border: 1px solid $border-color !important;
	color: $headline-color !important;
}

.css-xfk84m:hover, .css-1h82jk3:hover {
	border: 1px solid $link-color !important;
	background: $link-color !important;
	color: #fff !important;
}

.css-buu32a, .css-9xjzrb, .css-17pypsz {
	opacity: 1 !important;
	background: transparent !important;
	transform: none !important;
}

.css-w6xjhe {
	color: $text-color !important;
}

