@import "variables.scss";

// We use the #app ID identifier to become more specific than Bootstrap styles.

// This is for a single menu, including the button clicked to open the menu.
#app .menu
{

}

// The button child - the button clicked to open the menu.
#app .menu > button
{
	background-color: #f0f0f0;
	color: #000000;
	border-radius: 4px;
}

#app .menu > button:hover
{
	background-color: $link-color;
}

// The button when the menu is expanded.
#app .menu > button[aria-expanded="true"]
{
	color: #f0f0f0;
	background-color: $link-color;
}

// The container, under which items are. Includes the background on which the menu items are.
#app .menu > .menu-item-container
{
	background-color: #ffffff;
	width: 300px;

	white-space: normal;
}

// Header menu item
#app .header-item
{
	color: #000000;
	font-weight: bold;
}

// Header menu item
#app .header-item
{
	color: #000000;
	font-weight: bold;
	opacity: 0.99;
	margin-bottom: 10px;
}

// Checkbox menu items.
#app .checkbox-item
{
	color: #000000;
	font-weight: normal;
}
#app .checkbox-item::before
{
	color: #000000;
}

// Radio menu items.
#app .radio-item
{
	color: #000000;
	font-weight: normal;
}

// The button to empty selection
#app .empty-selections-item
{
	color: #000000;
	align-self: flex-start;
}

// The button to save selection
#app .save-selections-item
{
	margin-top: -25px;
	margin-left: auto;
	color: #000000;
	color: $primary-blue;
}
