@import "variables.scss";

.background {
	width: 110%;
	height: 110%;
	color: #ff0000;
	position: fixed;
	background: rgba(255, 255, 255, 0.7);
	top: -10px;
	left: -10px;
	margin: 0px;
	padding: 0px;
	z-index: 90;
	border-radius: 0px;
	border: none;
}

.filter-button {
	font-size: 14px;
	font-weight: bold;
	color: $headline-color;
	background: none;
	padding: 10px;
	border: 1px solid $light-gray;
	border-radius: 4px;
	text-transform: uppercase;
}

.filter-button-has-value {
	background-color: $link-color;
	color: white;
}

.filter-menu[aria-expanded="true"] {
	z-index: 100;
}

.filter-menu > .items {
	position: absolute;
	//color: #ff0000;
	background: rgba(255, 255, 255, 255);
	display: flex;
	flex-flow: column wrap;
	border: solid;
	border-width: 1px;
	width: 200px;
	padding: 4px;
}

.menu-empty-button {
	margin-top: 10px;
	font-weight: normal;
	border: none;
	background: none;
}

.menu-save-button {
	margin-top: 10px;
	font-weight: normal;
	border: none;
	background: none;
	color: $primary-blue;
	margin-left: auto;
	float: right;
}
