@import "variables.scss";

.page-update {
	position: relative;
	padding: 40px 20px 20px 20px;
}

.page-update-content {
	max-width: 680px;
	margin: 0 auto 70px auto;
	display: flex;
	flex-direction: column;
}

.page-update-section {
	max-width: 680px;
	border-bottom: 1px solid $border-color;
	padding: 2rem 0 3rem 0;
	margin-bottom: 1rem;

	&-last {
		margin-bottom: 0;
		border: none;
	}

	.nursinghome-back-link {
		margin: 1rem 0 3rem 0;
		color: $black;
	}
}

.page-update-title {
	margin-top: 1em;
}

.page-update-info {
	margin: 1.5rem 0 0.5rem 0;
	font-size: 0.8rem;
}

.page-update-status {
	width: 100%;
	text-align: right;
	margin: 1rem auto 0 auto;
}

.page-update-controls {
	margin: 0;
	padding: 0 0 0 0;

	& .radio-container {
		cursor: pointer;
		padding-left: 30px;
	}
}

.page-update-cancel {
	border-width: 1px;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(0.375em - 1px);
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(0.375em - 1px);
	text-align: center;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 700;
	min-width: 7em;
	height: 3em;
	color: $text-color;
	border: 1px solid $light-gray;
	border-radius: $border-radius;
}

.nav-save {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 24px;

	* {
		margin-right: 8px;
	}
}

.page-update-columns {
	@media (min-width: 800px) {
		display: flex;
		flex-wrap: wrap;

		.field {
			flex: 1 1 47%;
			margin-right: 3%;

			&:nth-child(2n),
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.checkbox-columns {
	.control {
		display: flex;
		flex-wrap: wrap;

		.checkbox-container {
			min-width: auto;
			flex: none;
			flex-grow: 1;
			width: 31%;
			margin-right: 2%;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

.field {
	position: relative;
	padding-bottom: 1.5rem;

	&:not(:last-child) {
		margin-bottom: 0.75rem;
	}

	.input {
		&-description {
			display: inline-block;
			line-height: 1.5;
			font-size: 0.85rem;
			color: $text-color;
			margin-bottom: 0.6rem;
			font-weight: 400;
			font-style: italic;
		}
	}

	.control {
		box-sizing: border-box;
		clear: both;
		font-size: 1rem;
		position: relative;
		text-align: left;

		.icon {
			position: absolute;
			bottom: -1.56rem;
			right: 0;
			background: url("/icons/icon-exclamation-circle.svg");
			width: 1.125rem;
			height: 1.125rem;
		}
	}

	.help {
		display: block;
		position: absolute;
		left: 0;
		right: 1.2rem;
		font-size: 0.75rem;
		margin-top: 0.4rem;
		padding-left: 0.5rem;
		line-height: 1.125rem;
		min-height: 1.125rem;
		color: $input-border;
	}
}
