@import "./variables.scss";

.nursinghome-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}

.nursingHome-info-list dt {
	line-height: 24px;
	font-weight: 600;
}
.nursingHome-info-list dd {
	line-height: 24px;
	margin-bottom: 1em;
}

.nursingHome-info-list--contact,
.nursingHome-info-list--directions {
	margin-top: 10px;
}

.nursingHome-info-list--contact dd,
.nursingHome-info-list--directions dd {
	line-height: 24px;
	margin-bottom: 0;
	word-break: break-all;
}
.nursingHome-info-list--directions dd {
	margin-bottom: 1em;
}

.nursingHome-info-list--directions dd:last-child {
	margin-bottom: 0;
}

.nursinghome-img-inner {
	height: 100%;
	background-position: center;
	background-size: cover;
}

.nursinghome-hero {
	position: relative;
	width: 100%;
	margin-bottom: 40px;
	height: 640px;
	overflow: hidden;
	display: flex;
	align-items: stretch;
	justify-content: center;

	.nursinghome-hero-extras-wrapper {
		flex-grow: 1;
		display: none;
		flex-direction: column;

		@media screen and (min-width: 1024px) {
			display: flex;
		}
	}

	.nursinghome-hero-img,
	.nursinghome-hero-placeholder {
		display: block;
		flex-grow: 1;
		flex-basis: 0;
	}

	.nursinghome-hero-img {
		overflow: hidden;
		.nursinghome-img-inner:hover {
			cursor: pointer;
			transform: scale(1.025);
			transition: all 0.1s ease-in;
		}
	}

	.nursinghome-hero-placeholder {
		height: 100%;
		// flex-grow: 0;
	}

	.nursinghome-hero-lightbox-button {
		position: absolute;
		right: 20px;
		bottom: 20px;
		padding: 10px 20px;
		background-color: white;
		border-radius: 2px;
		border: none;
		font-size: 16px;
		font-family: "Open sans", sans-serif;
		font-weight: 500;
		color: $headline-color;
		text-transform: uppercase;
		cursor: pointer;
	}
	.nursinghome-hero-lightbox-button:hover {
		color: $text-color;
	}
}

.nursinghome-hero-placeholder {
	height: 100px;
	background-color: $primary-blue;

	@media (min-width: 800px) {
		height: 200px;
	}
}

.nursinghome-back-link {
	display: block;
	margin-bottom: 32px;

	&::before {
		content: "←";
		margin-right: 8px;
	}
}

.nursinghome-anchor-details {
	@media (min-width: 800px) {
		display: none;
	}
}

.nursinghome-info-container {
	width: 100%;
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 20px;

	@media (min-width: 800px) {
		flex-direction: row;
		padding: 0 50px;
	}
}

.nursinghome-info {
	flex-grow: 1;
}

.nursinghome-title {
	font-family: Montserrat, sans-serif;
	font-size: 48px;
	line-height: 1.1em;
	font-weight: 300;
	color: $headline-color;
	margin-bottom: 10px;
}

.nursinghome-info h3 {
	font-size: 36px;
	color: $headline-color;
	margin-bottom: 32px;
	font-weight: 300;
	margin-top: 64px;
}

.nursinghome-info p {
	margin-bottom: 32px;
}

.nursinghome-info-paragraph-title {
	font-weight: 600;
	margin-bottom: 8px !important;
}

.nursinghome-details-box {
	flex-basis: 360px;
	flex-shrink: 0;
	border: 1px solid $light-gray;
	border-radius: $border-radius;
	padding: 24px;
	margin-top: 32px;

	@media (min-width: 800px) {
		margin-left: 64px;
		margin-top: 0;
		position: sticky;
    	top: 0;
	}
}

.nursinghome-details-box h3 {
	color: inherit;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;

	&:not(:first-child) {
		margin-top: 16px;
	}
}

.nursinghome-details-box p {
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0;
	}
}

.nursinghome-details-logo {
	display: block;
	width: 100px;
	margin: 0 auto 20px auto;
}

.nursinghome-details-name {
	font-size: 19px;
	font-weight: bold;
}

@media screen and (max-width: 1024px) {
	.nursinghome-hero {
		height: 400px;
	}
}
