@import "variables.scss";

.card-list-and-map-container {
	display: flex;
}

.card-list {
	margin: 0 20px;
	padding-bottom: 60px;
	flex-grow: 1;
}

.map-container {
	display: none;
	flex-grow: 1;
}

@media screen and (min-width: 1130px) {
	.map-container {
		display: block;
	}

	.card-list {
		flex-basis: 780px;
		flex-grow: 0;
	}
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	& > * {
		padding: 0 10px 20px 10px;
		flex-basis: 100%;
		@media screen and (min-width: 650px) {
			flex-basis: 50%;
		}
		@media screen and (min-width: 900px) {
			flex-basis: 33.333%;
		}
		@media screen and (min-width: 1130px) {
			flex-basis: 100%;
			padding: 0;
		}
		@media print {
			padding: 0;
		}
	}
}

.filters {
	padding: 14px 20px;
	flex-wrap: wrap;
	border-bottom: 1px solid $border-color;
	border-top: 1px solid $border-color;
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.filters > .filters-text {
	color: $headline-color;
	font-weight: bold;
	margin-left: 10px;
}

// Spacing between the buttons for different filters comes from here.
.filters > * {
	margin: 6px;
}

.results-summary {
	font-size: 22px;
	font-family: Montserrat, sans-serif;
	line-height: 41px;
	margin: 12px 0 12px 10px;
}

.results-summary-text {
	margin-right: 20px;
}

.btn--clear-filters {
	cursor: pointer;
	text-align: left;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	color: $headline-color;
	background: #fff url('/icons/icon-x.svg') 10px 50% no-repeat;
	padding: 10px 10px 10px 30px;
	border: 1px solid $light-gray;
	border-radius: $border-radius;
	text-transform: uppercase;
	white-space: nowrap;
	user-select: none;
	vertical-align: 2px;
}
.btn--clear-filters:hover {
	text-decoration: none;
	border-color: $text-color;
}

.clear-filters-icon {
	margin-right: 9px;
	vertical-align: -1px;
}
