@import "./variables.scss";

.filters-admin {
    margin-top: 80px;
}

.card-list-container {
    max-width: 900px;
    margin: auto;
}

.card-list-searchfield-container {
    width: 80%;
    margin: 40px 0 40px 0;
}

.card-list-searchfield {
    width: 100%;
    font-size: 16px;
    font-style: italic;
    line-height: 25px;
    border: none;
    border-bottom: solid 1px $border-color;
}

.card-list-searchfield-btn {
   float: right;
   position: relative;
   top: -28px;
   left: -10px;
   width: 50px;
   height: 25px;
   border: none;
   background-image: url('/icons/icon-searchfield.svg');
   background-size: contain;
   background-repeat: no-repeat;
   opacity: 0.6;
   cursor: pointer;
}

.login-container {
    margin-top: 20vh;
    margin-left: 15vw;

    h2 {
        margin-bottom: 60px;
    }

    div {
        margin-top: 40px;
        width: 450px;
        text-align: right;
    }

    input {
        border: none;
        border-bottom: solid 1px $border-color;
        font-size: 25px;
        line-height: 35px;
    }

    span {
        margin-left: 20px;
        margin-right: 40px;
    }

}