@import "variables.scss";

.page-update {
	padding: 80px 20px 20px 20px;
}

.page-update-content {
	max-width: 680px;
	margin: 0 auto 70px auto;
	display: flex;
	flex-direction: column;
}

.page-update-section {
	width: 680px;
	padding: 50px 0 50px 0;
	border-bottom: 1px solid $border-color;
}

.nursinghome-logo-upload {

	.nursinghome-upload-img {
		width: 320px;
		margin: auto;
	}
}

.nursinghome-upload-container {
	margin: 10px 0px 45px 0;
	height: 285px;
}

.nursinghome-upload-container:nth-of-type(odd) {
	margin: 10px 40px 45px 0;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.nursinghome-upload-img {
	width: 320px;
	height: 200px;
	padding: 5px;
	border: 2px dashed $border-color;
}

.nursinghome-upload-img-hover {
	position: relative;
	top: -6px;
	left: -6px;
	width: 320px;
	height: 200px;
	opacity: 0;
	background-color: rgba(0,0,0,0.75);
}

.nursinghome-upload-img-inner {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	&:hover {
		.nursinghome-upload-img-hover{
			opacity: .9;
		}
	}
}

.nursinghome-upload-placeholder > .nursinghome-upload-img-inner {
	background: #fff url("/icons/icon-file-upload.svg") 50% 35%/15% no-repeat;

	.input-hidden{
		position: relative;
		opacity: 1;
		top: -20px;
		left: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}

.nursinghome-upload-img-inner-text {
	position: relative;
	top: 130px;
}

.nursinghome-upload-img-change-text, .nursinghome-upload-img-remove-text {
	position: relative;
	top: 65px;
}

.nursinghome-upload-img {
	text-align: center;

	.btn {
		margin: 30px 0 0 0;
		width: 250px;
	}

	.nursinghome-upload-hidden-remove{
		position: relative;
		opacity: 1;
		top: -50px;
		left: 170px;
		width: 100px;
		height: 100px;
		border: 1px solid rgba(0,0,0,0);
		background: rgba(0,0,0,0) url("/icons/icon-trashcan.svg") 50% 30%/35% no-repeat;
		color: #fff;
		font-size: 10px;
		cursor: pointer;

		&:hover{
			border-color: $border-color;
		}
	}

	.nursinghome-upload-button-remove{
		position: relative;
		opacity: 1;
		top: 5px;
		left: 115px;
		width: 100px;
		height: 100px;
		border: 1px solid rgba(0,0,0,0);
		background: rgba(0,0,0,0) url("/icons/icon-trashcan.svg") 50% 30%/35% no-repeat;
		color: #fff;
		font-size: 10px;
		cursor: pointer;

		&:hover{
			border-color: $border-color;
		}
	}
	
	.input-hidden{
		position: relative;
		opacity: 1;
		top: 50px;
		left: 50px;
		width: 100px;
		height: 100px;
		border: 1px solid rgba(0,0,0,0);
		background: rgba(0,0,0,0) url("/icons/icon-edit-pen.svg") 50% 30%/35% no-repeat;
		color: #fff;
		font-size: 10px;

		&:hover {
			border-color: $border-color;
		}

		input {
			opacity: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
	}

	.input-button{
		position: relative;
		opacity: 0;
		top: 200px;
		width: 250px;
		height: 42px;
		cursor: pointer;

		input {
			position: relative;
			left: 40px;
			opacity: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
	}
}

.upload-button-hidden {
	display: none;
}

.nursinghome-upload-caption {
	width: 313px;
	height: 90px;
	margin: 10px 0 10px 0;
	font-size: 14px;
	border: 1px solid $border-color;
}

.textarea-hidden {
	display: none;
}

.page-update-title {
	margin-top: 1em;
}

.page-update-minor-title {
	margin-bottom: 40px;
}

.page-update-data {
	margin-bottom: 0.5em;
	padding: 0 0 0 30px;
}

.page-update-intro {
	margin: 1.5em 0 3em 0;
	padding: 0 0 0 30px;
}

.page-update-controls {
	max-width: 100%;
	width: 360px;
	margin: 0;
	padding: 0 0 0 0;

	& .radio-container {
		cursor: pointer;
		padding-left: 30px;
	}
}

.page-update-cancel {
	border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    min-width: 7em;
    height: 3em;
    color: $headline-color;
	border: 1px solid $light-gray;
	border-radius: $border-radius;

}

.page-update-popup {
	margin-left: 20px;
	color: $primary-blue;
	font-weight: bold;
}

.nav-save {
	position: fixed;
	top: 18px;
	width: 450px;
	right: 250px;
	z-index: 9999;

	*{
		margin-right: 8px;
	}
}
