@import "variables.scss";

.page-update {
	padding: 80px 20px 20px 20px;
}

.page-update-content {
	max-width: 680px;
	margin: 0 auto 70px auto;
	display: flex;
	flex-direction: column;
}

.page-update-section {
	width: 680px;
	padding: 50px 0 50px 0;
	border-bottom: 1px solid $border-color;
}

.nursinghome-logo-upload {
	.nursinghome-upload-img {
		width: 320px;
		margin: auto;
	}
}

.upload-button-hidden {
	display: none;
}

.textarea-hidden {
	display: none;
}

.page-update-title {
	margin-top: 1em;
}

.page-update-minor-title {
	margin-bottom: 40px;
}

.page-update-data {
	margin-bottom: 0.5em;
	padding: 0 0 0 30px;
}

.page-update-intro {
	margin: 1.5em 0 3em 0;
	padding: 0 0 0 30px;
}

.page-update-controls {
	max-width: 100%;
	width: 360px;
	margin: 0;
	padding: 0 0 0 0;

	& .radio-container {
		cursor: pointer;
		padding-left: 30px;
	}
}

.page-update-cancel {
	border-width: 1px;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(0.375em - 1px);
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(0.375em - 1px);
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	min-width: 7em;
	height: 3em;
	color: $headline-color;
	border: 1px solid $light-gray;
	border-radius: $border-radius;
}

.page-update-popup {
	position: fixed;
	margin-top: 12px;
	margin-left: 20px;
	color: $primary-blue;
	font-weight: bold;

	&.error {
		color: $error-color;
	}
}

.nav-save {
	position: fixed;
	top: 18px;
	width: 450px;
	right: 250px;
	z-index: 9999;

	* {
		margin-right: 8px;
	}
}

.field {
	position: relative;
	padding-bottom: 1.5rem;

	&:not(:last-child) {
		margin-bottom: 0.75rem;
	}

	.label {
		display: block;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.5;
	}

	.input {
		box-sizing: border-box;
		width: 100%;
		max-width: 100%;
		padding-bottom: 0.4rem;
		border-radius: 0;
		min-height: 2.5em;
		line-height: 1.5;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		padding-top: 0.4rem;
		font-size: 1rem;
		font-family: inherit;

		&.error {
			border-color: $error-color;
		}

		&:focus {
			border-color: $link-color;
			border-bottom-width: 2px;
			outline: none;
		}
	}

	textarea {
		border: solid 1px $border-color;
		resize: none;
	}

	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="tel"] {
		border: none;
		border-bottom: solid 1px $border-color;
		height: 2.5em;
	}

	.control {
		box-sizing: border-box;
		clear: both;
		font-size: 1rem;
		position: relative;
		text-align: left;

		.icon {
			position: absolute;
			bottom: -1.56rem;
			right: 0;
			background: url("/icons/icon-exclamation-circle.svg");
			width: 1.125rem;
			height: 1.125rem;
		}
	}

	.help {
		display: block;
		position: absolute;
		left: 0;
		right: 1.2rem;
		font-size: 0.75rem;
		margin-top: 0.4rem;
		padding-left: 0.5rem;
		line-height: 1.125rem;
		min-height: 1.125rem;
		color: $input-border;
	}

	legend {
		@extend .label;
		margin-bottom: 1em;
	}
}
