@import "variables.scss";

.page-report-minor-title {
	margin-bottom: 40px;
}

.page-report-datepicker {
	margin: 0 0 50px 30px;
	font-size: 16px;
	border: none;
	border-bottom: solid 1px $border-color;
}

.page-report-file {
	width: 100%;
	padding: 15px 20px 15px 20px;
	margin: 0 0 20px 0;
	border: 2px solid $border-color;
	// color: $headline-color;
	color: $text-color;
}

.page-report-file-drop {
	width: 100%;
	height: 200px;
	padding-top: 60px;
	text-align: center;
	border: 2px dashed $border-color;
	// color: $headline-color;
	color: $text-color;
}

.page-report-input-hidden {
	opacity: 0;
	position: relative;
	top: -275px;
	height: 275px;
	width: 100%;
	margin-bottom: -275px;
	cursor: pointer;
}

.page-update-popup-failed {
	position: fixed;
    margin-left: 20px;
    margin-top: 12px;
	color: $error-color;
	// font-weight: bold;
	font-weight: 700;
}

.page-update-data-nursing-home-name{
	font-size: 30px;
	font-weight: 400;
}

.page-update-data-nursing-home-owner {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
