@import "variables.scss";

.radio-container {
	flex: 1;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.radio-button {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.radio-button:focus + .radio-label .radio-box {
	box-shadow: 0px 0px 1px 1px $link-color;
}

.radio-box {
	width: 30px;
	height: 30px;
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid $input-border;
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 50%;
	background-size: 24px;
}

.radio-box-selected {
	background: $link-color url("/icon-checkmark.svg") 50% 50% no-repeat;
	background-size: 20px;
	border-color: $link-color;
}

.radio-checkmark {
	vertical-align: middle;
}

.radio-label {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 4px 5px;
	margin-left: -5px;
}

.radio-label:hover {
	background-color: #f5f5f5;
}

.radio-label:hover .radio-box {
	background: transparent url("/icon-checkmark-hover.svg") 50% 50% no-repeat;
	background-size: 20px;
}

.radio-label:hover .radio-box-selected {
	background: $link-color url("/icon-checkmark.svg") 50% 50% no-repeat;
	background-size: 20px;
	border-color: $link-color;
}

.radio-label-children {
	margin-left: 16px;
	align-self: center;
}
