/* Colors */
$border-color: #e8e8e8;
$input-border: #6e6e6e;
// $primary-blue: #0050bb;
$error-color: #ce0000;
//$text-color: #0f0f0f;
$link-color: #3373c9;
// $green: #c6db00;

/*LU Colors*/
$primary-purple: #e8caff;
$text-color: #000000;
$orange: #ff621a;
$green: #5fae60;
$yellow: #fcf77d;

$light-gray: #dbdbdb;
// $headline-color: #6e6e6e;

$border-radius: 2px;
$border-radius-lg: 4px;
