.app {

}

.app-header {
	margin-left: 35px;
	margin-top: 25px;
	display: flex;
	box-shadow:  ;
}

#app-name {
	color: rgb(110, 110, 110);
	font-size: 36px;
	font-family: Montserrat-Light;
	font-weight: 300;
	box-shadow: ;
}

#app-links {
	box-shadow:  ;
	color: rgb(110, 110, 110);
	font-family: Montserrat-Regular;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
	vertical-align: middle;
	margin-left: 10px;
	line-height: 40px;
}

#app-links > a {
	box-shadow:  ;
	color: rgb(110, 110, 110);
	font-family: Montserrat-Regular;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
	vertical-align: middle;
	padding-left: 20px;
}

#app-banner {
	margin-top: 20px;
	width: 100%;
}

#content {
	border-radius: 5px;
	margin-top: -80px;
	z-index: 1000;
	background: rgba(255, 255, 255, 1.0);
	opacity: 0.999;
	margin-left: 70px;
	margin-right: 70px;
	padding: 20px;
}