#nursinghome-review-image {
	vertical-align: top;
}

.nursinghome-container {
	display: flex;  
	flex-flow: row wrap;
	flex-grow: 1;
	text-align: left;
	margin: 10px;
	border: 1px solid gray;
}

.nursinghome-container > img {
	background-color: #D8D8D8;
	padding: 20px;
}

.nursinghome-container-child {
	margin: 5px;
}

#nursinghome-name {
	font-weight: bold;
}

#nursinghome-summary {

}

#nursinghome-address {
	margin-top: auto;
}

#nursinghome-info {
	display: flex;
	flex-direction: column;
}