#nurseryhome-review-image {
	vertical-align: top;
}

.nurseryhome-container {
	display: flex;  
	flex-flow: row wrap;
	flex-grow: 1;
	text-align: left;
	margin: 10px;
	border: 1px solid gray;

}

.nurseryhome-container-child {
	margin: 5px;
}

#nurseryhome-name {
	font-weight: bold;
}

#nurseryhome-summary {

}

#nurseryhome-address {
	margin-top: auto;
}

#nurseryhome-info {
	display: flex;
	flex-direction: column;
}