#nurseryhome-review-image {
  vertical-align: top;
  width: 100px;
}

.nurseryhome-container {
  display: flex;  
  flex-flow: row wrap;
  flex-grow: 1;
  text-align: center;
}

.nurseryhome-container-child {
	margin: 5px;
}

#nurseryhome-name {
	font-weight: bold;
}

#nurseryhome-summary {

}