#nurseryhome-review-image {
  vertical-align: top;
  width: 100px;
}

.nurseryhome-expanded-container {
  display: grid;
  grid-template-columns: 10% 25% 25% 25%;
  flex-flow: row wrap;
  flex-grow: 1;
  text-align: center;
}

.nurseryhome-container-child {
	margin: 5px;
}

#nurseryhome-name {
	font-weight: bold;
}

#nurseryhome-summary {

}